[user]
	name = "Tetsu Kinomura"
	email = "tetsukinomura@gmail.com"
[alias]
	st = status
	br = branch
	co = checkout
	cob = checkout -b
	ci = commit
	ca = commit --amend
	rb = rebase
	rbi = rebase -i
	sh = push origin
	ll = pull
	me = merge
[core]
	editor = nvim
[commit]
	verbose = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
